.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px;
}

.cart-content-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 20px;
}

.cart-content-table td,
.cart-content-table th {
  text-align: center;
  padding: 8px;
  border: 0.5px solid gray;
  font-size: 12px;
}

.cart-content-table thead th {
  color: white;
  background: #d1030f;
}

@media (min-width: 540px) {
}

@media (min-width: 1280px) {
}
