@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import "cartView.css";
@import "errorView.css";
@import "footer.css";
@import "infoContainer.css";
@import "main.css";
@import "navigation.css";
@import "newProductView.css";
@import "productDetailsView.css";
@import "productListView.css";
@import "searchView.css";
@import "registerView.css";
@import "specialClasses.css";
@import "userView.css";
@import "form.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 540px) {
}

@media (min-width: 1280px) {
}
