@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

/*--------------------------- navigation ---------------------------*/

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.navigation {
  background-color: #d1030f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.navigation-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  min-width: 50px;
  padding: 0px 10px;
  color: white;
  background-color: #d1030f;
  border-style: none;
  font-size: 15px;
  text-decoration: none;
  margin-right: 0px;
}

.navigation-button p {
  white-space: nowrap;
}

.navigation-button:active {
  background-color: white;
  color: #d1030f;
  border-style: none;
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 50px;
  color: white;
  background-color: #d1030f;
  border-style: none;
  text-decoration: none;
  margin-right: 0px;

  padding: 0px 10px;
  font-size: 20px;
  font-weight: bold;
}

.button-link:active {
  background-color: white;
  color: #d1030f;
  border-style: none;
}

.navigation-burguer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-commands {
  display: flex;
  flex-direction: row;
}

.navigation-search-bar {
  display: none;
}

.navigation-search-bar > input {
  width: 400px;

  font-size: 20px;
  padding: 10px;
  border-radius: 25px 0px 0px 25px;
  border-style: solid;
  border-width: 0px 0.5px 0px 0px;
  border-color: gray;
  outline: none;
}

.navigation-search-bar > a {
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  color: #d1030f;
}

.navigation-search-bar > a:active {
  border-radius: 0px 25px 25px 0px;
  background-color: #d1030f;
  color: white;
}

.navigation-sales {
  display: none;
}

.navigation-login {
  display: none;
}

.navigation-login > a {
  font-size: 16px;
}

/*--------------------------- main ---------------------------*/

.content {
  min-height: 79vh;
  margin-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content-aside {
  display: none;
  background-color: #d1030f;
}

.navigation-links-desktop > * {
  margin-top: 0px;
  text-align: center;
}

.content-aside-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.content-main-img {
  width: 100%;
}

.content-main-img > img {
  width: 100%;
}

.content-offers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-style: solid;
  border-width: 0.5px 0px 0.5px 0px;
  border-color: grey;
  margin: 10px 0px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.content-offers-title {
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-color: grey;

  display: flex;
  justify-content: center;

  padding: 10px 0px;
}

.content-offers-products {
  background-color: white;

  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;

  overflow: auto;
  white-space: nowrap;
}

.content-offers-product {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  align-items: center;

  max-width: 200px;
  padding: 15px;

  font-size: 14px;
  text-decoration: none;
  color: black;
}

.content-offers-product > img {
  width: 150px;
}

.content-offers-product > p {
  white-space: pre-wrap;
  text-align: center;
  padding: 5px;
}

.content-offers-product > h2 {
  padding: 5px;
  color: rgb(251, 3, 2);
}

.content-offers-product > div {
  display: flex;
  flex-direction: row;
}

.content-offers-product > div > p:first-of-type {
  color: grey;
  text-decoration-line: line-through;
  padding-right: 8px;
}

.content-offers-product > div > p:last-of-type {
  color: green;
}

.content-partner {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  margin: 10px 0px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.content-partner-link {
  text-decoration: none;
  color: black;
}

.content-partner-link > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: nowrap;

  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-color: grey;
}

.content-partner-link > div > * {
  margin: 10px;
  text-align: center;
}

.content-partner-link > p {
  padding: 10px;
  text-align: center;
  background-color: rgb(251, 3, 2);
  color: white;
}

/*--------------------------- footer ---------------------------*/

footer {
  background-color: white;
  box-shadow: inset 0px 5px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 10px 0px 0px 0px rgb(0 0 0 / 12%);
}

.footer {
  font-size: 14px;
  font-weight: 500;

  padding-top: 10px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  margin: 10px 0px;

  color: grey;
}

.footer-links {
  color: #016ab3;
}

/*--------------------------- product view ---------------------------*/

.products-content-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.content-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
}

.content-product {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  align-items: center;

  max-width: 300px;
  padding: 15px;

  font-size: 20px;
  text-decoration: none;
  color: black;
}

.content-product > img {
  width: 250px;
}

.content-product > p {
  white-space: pre-wrap;
  text-align: center;
  padding: 5px;
}

.content-product > h2 {
  padding: 5px;
  color: rgb(251, 3, 2);
}

.content-product > div {
  display: flex;
  flex-direction: row;
}

.content-product > div > p:first-of-type {
  color: grey;
  text-decoration-line: line-through;
  padding-right: 8px;
}

.content-product > div > p:last-of-type {
  color: green;
}

/*--------------------------- user view ---------------------------*/

.user-content {
  padding: 20px;
  width: 100%;
  min-height: 70vh;
}

.user-content > * {
  margin-bottom: 20px;
}

.button-link {
  cursor: pointer;
}

#privilege {
  background-color: #d1030f;
  color: white;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 540px) {
  .user-content > h2 {
    font-size: 16px;
  }
}

/*--------------------------- new product view ---------------------------*/

.new-product-title {
  text-align: center;
  margin: 20px;
}

.new-product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 10px 20px 20px 20px;
  width: 100%;

  font-size: 16px;
}

.new-product-form label {
  margin-bottom: 5px;
}

.form-text-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0px 0px 20px 0px;
}

.form-text-input {
  width: 100%;
  padding: 15px 10px 15px 10px;
  font-size: 16px;

  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  outline: none;
}

.form-text-input:hover {
  border-color: #d1030f;
}

.form-text-input:focus {
  border-color: blue;
  border-width: 2px;
}

.form-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.form-button {
  width: 100%;
  padding: 15px 10px 15px 10px;
  font-size: 24px;

  color: white;
  background-color: #d1030f;

  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1030f;
}

.form-button:active {
  color: #d1030f;
  background-color: white;

  border-width: 1px;
  border-color: gray;
}

/*--------------------------- cart content view ---------------------------*/

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px;
}

.cart-content-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 20px;
}

.cart-content-table td,
.cart-content-table th {
  text-align: center;
  padding: 8px;
  border: 0.5px solid gray;
  font-size: 12px;
}

.cart-content-table thead th {
  color: white;
  background: #d1030f;
}

/*--------------------------- product details view ---------------------------*/

.product-details-content {
  display: flex;
  flex-direction: row;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-details-text > * {
  margin: 20px;
}

.product-details-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
}

.product-details-buttons > button {
  min-width: 200px;
  margin: 10px 20px;
}

.product-details-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.product-details-img > img {
  width: 80%;
}

.product-aside {
  display: none;

  border-style: solid;
  border-width: 0px 0px 0px 0.5px;
  border-color: gray;
}

.product-aside-text {
  display: flex;
  flex-direction: column;
}

.product-aside > div > * {
  margin: 20px;
}

.product-name {
  font-size: 16px;
}

.product-price {
  font-size: 30px;
  color: #d1030f;
}

.product-details-comments-title {
  margin: 20px;
}

.product-details-comments-item {
  margin: 20px;
}

.product-details-comments-item > h3 {
  margin-bottom: 5px;
  color: #d1030f;
}

@media (min-width: 650px) {
  .product-aside {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    width: 30%;
  }
  .product-details-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .product-aside {
    width: 25%;
  }
  .product-details-img > img {
    width: 50%;
  }
}

/*--------------------------- sing up view ---------------------------*/

.sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sign-up-title {
  text-align: center;
  margin: 20px;
}

.sign-up-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sign-up-form,
.form-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 20px 20px 20px;
}

.sign-up-form form {
  width: 100%;
  font-size: 16p;
}

.form-text-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.sign-up-form label {
  margin-bottom: 5px;
}

@media (max-width: 750px) {
  .form-aside {
    display: none;
  }
}

/*--------------------------- search view ---------------------------*/

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  /* background-color: #d1030f; */
}

.search-bar > input {
  width: 200px;
  height: 50px;

  font-size: 20px;
  padding: 10px;
  border-radius: 25px 0px 0px 25px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #d1030f;
  outline: none;
}

.search-bar > a {
  border-radius: 0px 25px 25px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #d1030f;
  background-color: #d1030f;
  color: white;
}

.search-bar > a:active {
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  color: #d1030f;
}

/*--------------------------- error view ---------------------------*/

.error-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/*--------------------------- info container ---------------------------*/

#info-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;

  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  padding: 20px;

  background-color: #d1030f;
  color: white;
  font-size: 16px;
  border-style: solid;
  border-radius: 10px;
}

#info-container button {
  padding: 5px 5px 5px 5px;
  color: #d1030f;
  background-color: white;
  font-size: 20px;
  margin-top: 10px;

  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#info-container button:active {
  color: white;
  background-color: #d1030f;
}

.display-info-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*--------------------------- special clases ---------------------------*/

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.float {
  display: block !important;
  position: fixed !important;
  top: 50px;
  left: 0px;
  width: 200px;
  height: 100%;
  z-index: 50;
}

/*--------------------------- media queries ---------------------------*/

@media (min-width: 540px) {
  .navigation-button {
    font-size: 30px;
    margin-right: 20px;
  }
  .navigation-burger-logo a {
    width: auto;
    padding: 0px 10px;
    font-size: 30px;
  }
  .footer {
    font-size: 20px;
  }
  .navigation-login {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-aside-login {
    display: none;
  }
  .navigation-links-desktop > * {
    margin-top: 20px;
  }
  .search-bar > input {
    width: 400px;
  }
}

@media (min-width: 1280px) {
  .navigation-burguer-button,
  #search-button {
    display: none;
  }
  .navigation-burger-logo a {
    width: auto;
    margin: 10px 0px;
    font-size: 50px;
  }
  .navigation-search-bar {
    display: flex;
    flex-direction: row;
  }
  .navigation-login {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation-login > a {
    font-size: 24px;
  }
  .button-link {
    font-size: 30px;
  }
  .content {
    margin-top: 80px;
  }
  .content-aside {
    display: flex !important;
    flex-direction: column;
    width: 20%;
  }
  .content-main {
    width: 80%;
  }
  .footer {
    font-size: 20px;
  }
  .disabled {
    opacity: 1;
    pointer-events: all;
  }
  .float {
    display: flex !important;
    position: unset !important;
    width: 20%;
    height: auto;
    z-index: 0;
  }
}
