.products-content-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.content-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
}

.content-product {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  align-items: center;

  max-width: 300px;
  padding: 15px;

  font-size: 20px;
  text-decoration: none;
  color: black;
}

.content-product > img {
  width: 250px;
}

.content-product > p {
  white-space: pre-wrap;
  text-align: center;
  padding: 5px;
}

.content-product > h2 {
  padding: 5px;
  color: rgb(251, 3, 2);
}

.content-product > div {
  display: flex;
  flex-direction: row;
}

.content-product > div > p:first-of-type {
  color: grey;
  text-decoration-line: line-through;
  padding-right: 8px;
}

.content-product > div > p:last-of-type {
  color: green;
}

@media (min-width: 540px) {
}

@media (min-width: 1280px) {
}
